body{
    margin: 0 auto;
    border-top: 5px solid #6301de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 20%;
    padding-left: 40px;
    padding-top:40px;
}

.Flex{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.flexL{
    background-color: lightgray;
    flex:1;
    top:0;
    align-self: stretch;
    position: sticky;
    height: 100vh;
    border-top-right-radius: 3%;
    border-right: 5px solid #6301de;
}
.flexR{
    background-image: url("Images/background\ for\ a\ design\ portfolio\ website\ with\ a\ lot\ of\ negative\ space\,\ modern\ and\ unusual\ style\,\ mi.jpeg");
    display:flex;
    flex-direction: column;
    flex:2;
    justify-content: center;
    align-items: center;
    margin:0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.nav{
    list-style-type: none;
    font-size: 150%;
    line-height: 280%;
    color: black;
}

.headshot{
        width: 25%;
}

.links{
    display: flex;
    gap: 5px;
    position: fixed;
    left: 40px;
    bottom: 5px;
}

.icons{
    width:50px;
}

p{
    width: 75%;
}

.resume{
    border: 5px solid darkgray;
}

:visited{
    color: black;
}

:link{
    color: black;
}

.flexRHome{
    display:flex;
    flex-direction: column;
    flex:2;
    justify-content: center;
    align-items: center;
    margin:0;
    padding-top: 50px;
    padding-bottom: 50px;
}

video{
    border: 5px solid darkgray;
}

img{
    width: 30%;
}

.homeflex{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}